<!DOCTYPE html>
<html lang="en">
<head>
    <style>@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap');
           @import url('https://fonts.googleapis.com/css2?family=Gudea&family=Inika:wght@700&display=swap'); </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Display Records</title>
    <style> 
    .logo{ font-family: 'inika', serif} 
    .font{font-family: 'Gudea', sans-serif;}
    #headerContainer{gap: 50px;}    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */}
    </style>
</head>

<body>

    <div class= "bg-gray-400 h-20 w-4\/5 flex gap-64 pt-4 mb-2 sticky"> 

        <div class = "flex  "> 
            <img class = "h-12 ml-3 "src="https://img.freepik.com/free-icon/racoon_318-347510.jpg?w=2000" alt="Raccron logo">
            <div class = "logo text-xl pt-2 pl-1"> Raccron Fullstack</div> 
        </div>

        <div id = "#headerContainer" class = "flex ml-48 gap-4 pt-2 mr-20 text-xl content-center relative">
            <a href = "/"><div class = "font flex gap-1 mb-5"> <img class = "h-8"src="https://cdn.discordapp.com/attachments/870345314815578152/1074882948429520936/pc-monitor.png " alt=""> Display Records </div> </a>
            <a href="/create"><div class = "font flex gap-1 mb-5"> <img class = "h-8" src="https://cdn.discordapp.com/attachments/870345314815578152/1074882997750341723/266146.png" alt=""> Create Records</div> </a>
            <a href=""><div class = "font flex gap-1 mb-5"> <img class = "h-8" src="https://cdn.discordapp.com/attachments/870345314815578152/1074882906218041434/wrench-icon-23.png" alt=""> Edit Records</div> </a>
        </div>

        <div class = "font pt-2 text-xl ml-64"> <strong>SIGN IN </strong></div>

    </div>

    
<script>
    function Change(id, rentStatus, water, waterstatus, elect, electstatus){
        this.id = id;
        this.rentStatus = rentStatus;
        this.water = water;
        this.waterstatus = waterstatus;
        this.elect = elect;
        this.electstatus = electstatus;
     }
</script>

