<%- include('../partials/header.ejs')  %>
    <form action="#" class = "" method = "post">
        <div class = "font flex text-xl justify-center mr-20 font-semibold gap-2">
    
        <label>Name:</label>
        <input class = "border-solid border-black border"type="text" id = "lang" name = "Name"> 
        <label>Contact Number: </label>
        <input class = "border-solid border-black border"type="text" id = "lang" name = "Contact"> 
        <label>Rent Fee:</label>
        <input class = "border-solid border-black border "type="text" id = "lang3" name = "rentFee"> 
        <label>Rent Due:</label>
        <input class = "border-solid border-black border "type="text" id = "lang3" name = "rentDue" placeholder="(Example: 30th)"> 
        
        
        <input class = "border-solid border-black border" type="submit" value = "Generate">
    </div>
</body>
</html>


