    <%- include('../partials/header.ejs') %>


    <style>
        table{background-color: #84B6FF;}    
        th{text-align: left; background-color: #3B93A1; color: white}
        table,th,td{
        border: 2px solid #06296D;
        border-collapse: collapse;
    }
    </style>

<div class = "flex justify-center" >
    <form action = "" method = "post">
        <select id = "month" name = "month" class = "font text-xxl font-semibold">
            <option value="January">January</option> 
            <option value="February">February </option>
            <option value="March">March</option> 
            <option value="April">April </option>
            <option value="May">May</option> 
            <option value="June">June </option>
            <option value="July">July</option> 
            <option value="August">August </option>
            <option value="September">September</option> 
            <option value="October">October </option>
            <option value="November">November</option> 
            <option value="December">December</option>
        </select>
        <select id = "year" name = "year" class = "font text-xxl font-semibold">
            <option value="2023">2023</option> 
            <option value="2024">2024 </option>
            <option value="2025">2025</option> 
            <option value="2026">2026 </option>
        </select>
        <input type = "submit" id = "monthyear">
</form></div>


    
    

        

    </body>
    </html>